/* Giving the main a background color font family and aligning the items in it in the center */
main{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 255); 
}

/* Giving all the images width and hegith */
a img{
  height: 300px;
  width: 300px;
}

/* removing the underline in all the a-elements in .products */
.products a{
  text-decoration: none;
}

/* Giving all the h1-elements in .products color and aligning them in the center */
.products h1{
  color: #555;
  text-align: center;
}

/* Adding products to all products and displaying them as inline block to sit next to eachother */
.products{
  padding: 20px;
  display: inline-block
}

/* Displaying them as flex and aligning them vertically in the center and giving them a gap */
.all-products-flex{
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Giving all a background color */
.all-products{
  background-color: rgb(241, 239, 236);
}

/* Giving all products animations 400ms and ease*/
.products{
  transition: all 400ms ease 0s;
}

/* Making the products bigger when hovered */
.products:hover{
  transform: scale(1.05);
}

/* Giving the title font size, weight and displaying it as a inline block, also giving all animations 400ms 
 and ease, also adding margin */
.product_title{
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  
  transition: all 400ms ease 0s;
  margin: 50px;
}
 
/* Giving the title color, removing the text decoration and giving all animations 400ms and ease*/
.product_title a{
  color: #333;
  text-decoration: none;
  transition: all 400ms ease 0s;
}

/* When hovering the title it changes color */
.product_title a:hover{
  color: rgb(16, 160, 204);
}

/* When hovering the title it gets bigger */
.product_title:hover{
  transform: scale(1.1);
}

/* Giving the last button font size weight and color, also removing text decoration
and displaying it as inline block, giving all animations 300ms and ease and
also adding margin to top and bottom */
.check-all-products{
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  display: inline-block;  
  
  transition: all 300ms ease 0s;
  margin-top: 70px;
  margin-bottom: 50px;
}

/* Giving the button when hovered color, trasformation and underline */
.check-all-products:hover{
  color: rgb(16, 160, 204);
  transform: scale(1.03);
  text-decoration: underline;
}



